/* Header */
header {
  height: 50px;
  background-color: #5F7896;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: 'roboto', sans-serif;

}

a{
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

  
}
body{
  margin: 0;
  background-color: #849BB4;
  font-family: roboto, sans-serif;


}
#danske_logo{
  height: 50px;
  padding-right: 60px;
}

#nav{
  display: flex;
  align-items: center;
}

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #26a59a;
}

.cls-3 {
  fill: #d65252;
}

#user{
    height: 40px;
}

#user-div{
  display: flex;
}

#username{
    padding-left: 25px;
    padding-right: 25px;

}

#profile_div{
  background-color: #0F3C5D;
  width: 80vw;
  height: 85vh;
  margin-top: 5vh;
  margin-left: 10vw;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

#inner_div{
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  color: #0F3C5D;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#side_nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.current{
  color: #26A59A;
}

#side_nav > * {
  padding: 5px;
  font-weight: 300;
}

#username-div{
  display: flex;
}

#username_photo2{
  width: 100px;
  padding-right: 20px;
}



#username-div2 > p {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  height: auto;
}

#inner_div2{
  background-color: #F7F7F7;
  width: 80%;
  height: 90%;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#cards{
  display: flex;
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.card{
  padding: 4%;
  width: 40%;
  /* height: 100%; */
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: -5px 11px 21px -6px rgba(199,193,199,1);
}

.card > h1{
  font-family: 'Dosis', sans-serif;
  margin-bottom: 5px;
}

.card > p {
  font-size: 13px;
  text-align: left;
}


#blue{
  color: #2A7AB5;
  grid-area: blue;
  text-align: center;

}
#red{
  color: #D65252;
  grid-area: red;
  text-align: center;
}

.green{
  color: #9BEF90;
  font-size: 20px;
  padding-right: 5px;
}

.red{
  color: #FD4343;
  font-size: 20px;
  padding-right: 5px;
}

#choose, #save{
  height: 40px;
  width: 130px;
  border-radius: 13px;
  background-color: #26A59A;
  color: white;
  border: none;
  margin-bottom: 10px;
}
#accept{
  height: 25px;
  width: 100px;
  background-color: #26A59A;
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 150px;
}

#frame1{
  height: 100%;
  display: flex;
  align-items: center;
}

#frame2{
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#frame3{
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#backBtn, #backBtn2{
  height: 40px;
  width: 100px;
  border-radius: 13px;
  background-color: #fff;
  color: #26A59A;
  border: 1px solid #26A59A;
  margin-bottom: 10px;
  align-self: flex-start;
  margin-left: 40px;
}

#nemid{
  width: 40%;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  border-radius: 10px;
  border: 1px solid #26A59A;
  
}

#nem_up, #nem_inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#key{
  width: 60px;
}
#nem_logo{
  width: 100px;
}

#nem_inputs > label {
  display: flex;
  flex-direction: column;
}

#pass{
  padding-bottom: 50%;
  padding-top: 20px
}
#payContainer{
  background-color: #26A59A;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}

#frame2 > h1{
  font-size: 20px;
}
#frame2 > p{
  font-size: 13px;
  padding-left: 20%;
  padding-right: 20%;
}

#icon_grid1{
  grid-area: icon1;
}
#icon_grid2{
  grid-area: icon2
}
#icon_grid3{
  grid-area: icon3
}
#p_grid1{
  grid-area: p1;
}
#p_grid2{
  grid-area: p2;
  
}
#p_grid3{
  grid-area: p3;
  
}
#current_grid{
  grid-area: current_grid;
  text-align: center;
}

#card1{
  display: grid;
  grid-template-areas: 'blue blue' 'icon1 p1' 'icon2 p2' 'icon3 p3' 'current_grid current_grid' ;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr;
}

#icon1_grid2{
  grid-area: icon21;
}
#icon2_grid2{
  grid-area: icon22;
}
#icon3_grid2{
  grid-area: icon23;
}
#p1_grid2{
  grid-area: p21;
}
#p2_grid2{
  grid-area: p22;
}
#p3_grid2{
  grid-area: p23;
}

#choose{
  grid-area: btn;

  
}
#card2{
  display: grid;
  grid-template-areas: 'red red' 'icon21 p21' 'icon22 p22' 'icon23 p23' '. btn' ;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr;
  
}

/* progress bar https://codepen.io/peruvianidol/pen/NLMvqO?page=2&fbclid=IwAR2m6DiD2ZYSh5VUVp6tmH97fjIToKZBEpQEdwr0_wTsPdRpxmU6Jx0tDcI */
section{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
:root {
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #75787b;
  --color-gray-light: #bbb;
  --color-gray-disabled: #e8e8e8;
  --color-green: #9BEF90;
  --color-green-dark: #383;
  --font-size-small: .75rem;
  --font-size-default: .875rem;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  width: 80%;
}
.progress-bar li {
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  font-size: var(--font-size-default);
  line-height: 1.5;
  font-weight: 600;
  white-space: nowrap;
  overflow: visible;
  min-width: 0;
  text-align: center;
  border-bottom: 2px solid var(--color-gray-disabled);
}
.progress-bar li:first-child,
.progress-bar li:last-child {
  flex: 1;
}
.progress-bar li:last-child {
  text-align: right;
}
.progress-bar li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-gray-disabled);
  border-radius: 50%;
  border: 2px solid rgba(19, 157, 221, 0);
  position: absolute;
  left: calc(50% - 6px);
  bottom: -7px;
  z-index: 3;
  transition: all .2s ease-in-out;
}
.progress-bar li:first-child:before {
  left: 0;
}
.progress-bar li:last-child:before {
  right: 0;
  left: auto;
}
.progress-bar span {
  transition: opacity .3s ease-in-out;
}
.progress-bar li:not(.is-active) span {
  opacity: 0.3;
}
.progress-bar .is-complete:not(:first-child):after,
.progress-bar .is-active:not(:first-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -50%;
  z-index: 2;
  border-bottom: 1px solid var(--color-green);
}
.progress-bar li:last-child span {
  width: 200%;
  display: inline-block;
  position: absolute;
  left: -100%;
}

.progress-bar .is-complete:last-child:after,
.progress-bar .is-active:last-child:after {
  width: 200%;
  left: -100%;
}

.progress-bar .is-complete:before {
  background-color: var(--color-green);
}

.progress-bar .is-active:before,
.progress-bar .is-hovered:before {
  background-color: #26A59A;
}

#arrow{
    display: none;
}

/* media queries */

@media screen and (max-width: 500px){
    #profile_div{
        margin: 0;
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        display: flex;

    }
    #inner_div{
        display: none;
        width: 100vw;
        height: 100%;

    }    

    #circle2{
        width:2px;
        height: 2px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: 47vh;
        right: 30vw;
    }
    .progress-bar > li {
        font-weight: 300;
    }
    #inner_div2{
        width:100%;
        height: auto;
        display: flex;
        padding-bottom: 10%;
    }
    #cards{
        height: auto;
        justify-content: center;
        flex-wrap: wrap
    }
    .card{
        width: 220px;
        margin: 20px
    }

    #nemid{
        width: 60vw;
    }

    #accept{
        margin-bottom: 0;
    }
    #arrow{
        display: block;
        margin: 30px;
    }

    #backBtn, #backBtn2{
        display: none;
    }

    #choose{
        margin-left: 20px;
    }

}

@media screen and (min-width: 500px) and (max-width: 960px){
  #profile_div{
    width: 90vw;
    height: auto;
    margin:10px;
  }

  #cards{
    height: auto;
    justify-content: center;
    flex-wrap: wrap
}
.card{
  width: 220px;
  margin: 20px;
}

body{
  display: flex;
  justify-content: center;
}

#inner_div2{
  width:100%;
  height: auto;
  display: flex;
  padding-bottom: 10%;
  padding-top: 50px;
}
#side_nav > *{
  font-size: 12px;
  padding-left: 10px;
}

.progress-bar > li {
  font-weight: 300;
  font-size: 14px;

}

#backBtn, #backBtn2{
  margin-top: 30px;
}
#accept {
  margin-bottom: 30px
}
#nemid {
  width: 240px;
}
}

@media screen and (min-width: 770px) and (max-width: 960px){
  #cards{
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
  }
  #nemid {
    width: 240px;
  }
}