.navA{
    text-decoration: none;
    color: #fff;
 /*   margin: 0px 20px 0px 20px; */
    font-size: 0.9em;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #5F7896;
    height: 3em;
    align-items: center;
}
.navA{
    margin: 0px 20px 0px 20px;
}
.rightNav{
    align-items: center;
    display: flex;
}
.subNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #849bb4;
}
.subNav{
    height: 3em;
    align-items: center;
}
.spilleLogo{
   height: 1em;
   margin-left: 1em;
}
.danskeLogo{
  height: 1.5em;

}
.footerBtn{
    background-color: #fff;
    color: #0F3C5D;
    font-weight: bold;
    width: 15em;
    margin-top: 2em;
    margin-left: -0.3em;
    min-width: 8em;
    height: 3em;
    font-size: 1em;
    padding: 10px;
    border-radius: 6px;
}
.mainFooter{
    background-color: #849BB4;
    padding: 3em 5em;
    color: #fff;
    font-size: 0.8em;
}
.mainFooterPart2 li, .mainFooterPart3 li{
    list-style-type: none;
}
.subFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5em;
    flex-wrap: wrap;
    background-color: #fff;
}
.subFooter img{
    height: 4em;
    margin: 0.8em;
}

#Layer_1{
    width: 40px;
    height: auto;
}
#circle{
    animation: pulse 0.5s ease-in-out alternate-reverse infinite;
}
@keyframes pulse {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.3);
  }
}
@media screen and (max-width: 500px){
    .mainFooterPart2 li, .mainFooterPart3 li{
        margin-left: -3em;
       
    }
    .mainFooterPart2, .mainFooterPart3{
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .mainFooter{
        margin-top: 20px;
    }
}
@media screen and (min-width: 600px) {

    .mainFooter{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(4, 2fr); 
    }
    
    .mainFooterPart1{
            grid-column: 1 / 2;
        
    }
    .mainFooterPart2{
            grid-column: 2 / 3;
    }
    .mainFooterPart3{
            grid-column: 3 / 4;
        
    }
    .mainFooterPart4{
            grid-column: 4 / 5;
    }
}